/.ipynb_checkpoints
/.vscode
/Untitled.ipynb
/grades_history_trimmed.csv
/grades_trimmed.csv
/simdata_analysis-Copy1.ipynb
/simdata_analysis.ipynb
/simdata_analysis3.ipynb
/simdata_full.csv
/simdata_half.csv
/simul.py
/simulated_data.csv
/simulators_paper.ipynb